body {
  overflow-x: hidden;
}

.aboutUs {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  @include tablet {
    width: 100%;
    padding: 20px;
    max-width: 400px;
  }
  
  .aboutSandy,
  .aboutSharon {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include tablet {
      flex-direction: column;
    }
    p {
      padding: 10px 0 50px 20px;
      @include tablet {
        padding: 10px;
      }
    }
  }
  .imageContainer {
    width: 40%;
    height: 300px;
    @include tablet {
      width: 100%;
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .textContainer {
    width: 60%;
    height: 300px;
    @include tablet {
      width: 100%;
      height: auto;
    }
  }
}

h3 {
  padding-top: 30px;
  padding-left: 20px;
  @include logoText;
  color: $redOrange;
  font-size: 3.5rem;
  @include tablet {
    padding: 20px 20px 0 20px;
    text-align: center;
  }
}

a.socialMediaLink {
  font-size: 2rem;
  transition: all 0.3s ease;
  padding: 0px 20px;
  position: relative;
  z-index: 10;
  display: inline-block;
  @include tablet {
    padding: 0 40px 0 0;
  }
  &::after {
    content: "";
    background-color: #DFEDE1;
    height: 10px;
    position: absolute;
    opacity: 0.3;
    left: 10%;
    bottom: 5px;
    display: none;
    width: 80%;
    z-index: -10;
  }
  &:hover {
    color: $seaGreen;
    z-index: 10;
    &::after {
      content: "";
      display: block;
      z-index: -10;
    }
  }
  &:hover i {
    color: $seaGreen;
  }
  i {
    color: #DFEDE1;
    transition: all 0.3s ease;
  }
}
