@import "mediaQueries";

nav {
  width: 100%;
  height: 50px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      @include logoText;
      font-size: 4.2rem;
      display: inline-block;
      color: $redOrange;
    }
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      display: none;
    }

    a {
      @include logoText;
      font-size: 2.2rem;
      display: inline-block;
      margin-left: 30px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
    a:hover {
      color: $redOrange;
      transition: all 0.2s ease;

    }
  }
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  h1 {
    @include logoText;
    font-size: 5.5rem;
    letter-spacing: 1.2px;
    color: $seaGreen;
    width: 500px;
    margin: 80px 0;
    @include tablet {
      font-size: 5rem;
    }
    @include mobile {
      font-size: 4rem;
      width: 100%;
    }
  }

  .headerImage {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    @include tablet {
    overflow: hidden;
  }
  img {
    @include tablet {
        width: 130%;
        object-fit: cover;
        object-position: center;
        margin-left: -15%;
      }
      @include mobile {
        width: 160%;
        margin-left: -35%;
      }
      @include smallMobile {
      width: 200%;
      margin-left: -55%;
    }
  }
}
  .headerText {
    margin: 90px auto;
    p {
      margin: 30px 0;
      font-size: 2.2rem;
      line-height: 1.6;
      letter-spacing: 2px;
      @include smallMobile {
      font-size: 1.8rem;
    }
  }
     @include smallMobile {
      margin: 50px auto;
    }
  }
}
.exitMenuButton{
  padding-left: 20px;
}
.openMenuButton, .exitMenuButton {
  border: 0;
  background-color: transparent;
  height: 50px;
  i {
    font-size: 4rem;
    color: $redOrange;
  }
}

.slideOutMobileNav {
  width: 0px;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0px;
  background-color: $white;
  transition: all 0.5s ease;
  visibility: hidden;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 0;
    height: 150px;
    width: 50%;
    a {
      position: absolute;
      text-align: center;
      width: 50%;
      @include logoText;
      font-size: 3rem;
      color: $redOrange;
    }
  }
}

.activeMenu {
  width: 300px;
  visibility: visible;
  box-shadow: 10px 0px 50px $lightGrey;
}

